.git/
.gitignore
.env
.env.*
!.env.example
node_modules
docker
!docker/node/
!docker/node/entrypoint-dev.sh
docker-compose*.yml
Makefile
wiki
*.p12
*.pem
.next
coverage
.DS_Store
a.out
src/database/prisma/generated/

