########################################
# OAuth 42
########################################
NEXT_PUBLIC_OAUTH_42_CLIENTID=u-s4t2ud-...
OAUTH_42_SECRET=s-s4t2ud-...

########################################
# Elasticsearch / Kibana
########################################
ELK_VERSION=8.15.0

ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=change-me
ELASTIC_PASSWORD=change-me
KIBANA_SYSTEM_PASSWORD=change-me

KIBANA_ENCRYPTION_KEY=change-me-with-32-plus-characters

########################################
# JVM Settings (Elasticsearch / Logstash)
########################################
ES_JAVA_OPTS=-Xms2g -Xmx2g
LS_JAVA_OPTS=-Xms1g -Xmx1g

########################################
# PostgreSQL
########################################
POSTGRES_DB=transcendence
POSTGRES_USER=transcendence
POSTGRES_PASSWORD=transcendence
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data/pgdata