########################################
# OAuth 42
########################################
NEXT_PUBLIC_OAUTH_42_CLIENTID=u-s4t2ud-...
OAUTH_42_SECRET=s-s4t2ud-...

NEXT_PUBLIC_BASE_URL=https://localhost
SESSION_SECRET=change-me

########################################
# Elasticsearch / Kibana / Logstash
########################################
ELK_VERSION=8.15.0

ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=change-me
ELASTIC_CERT_PASSWORD=change-me

KIBANA_SYSTEM_USERNAME=kibana_system
KIBANA_SYSTEM_PASSWORD=change-me
KIBANA_URL=https://kibana.localhost
KIBANA_ENCRYPTION_KEY=change-me-with-32-plus-characters
KIBANA_SECURITY_ENCRYPTION_KEY=change-me-with-32-plus-characters
KIBANA_REPORTING_ENCRYPTION_KEY=change-me-with-32-plus-characters

LOGSTASH_USERNAME=elastic
LOGSTASH_PASSWORD=change-me

########################################
# PostgreSQL
########################################
POSTGRES_DB=transcendence
POSTGRES_USER=transcendence
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data/pgdata
DATABASE_URL=postgresql://transcendence:change-me@postgres:5432/transcendence

#########################################
# Vault
#########################################
VAULT_ADDR=http://vault:8200
VAULT_DEV_ROOT_TOKEN_ID=change-me
VAULT_APP_SECRET=change-me

#########################################
# Grafana
#########################################

GRAFANA_ADMIN_USER = change-me
GRAFANA_ADMIN_PASSWORD = change-me