NEXT_PUBLIC_BASE_URL=https://localhost

NEXT_PUBLIC_OAUTH_42_CLIENTID=u-s4t2ud-...
OAUTH_42_SECRET=s-s4t2ud-...

##### Postgres configuration ######

DB_NAME_POSTGRES=
USER_POSTGRES=
PASSWORD_POSTGRES=
HOST=
PORT_POSTGRES=

DATABASE_URL="postgres://($USER_POSTGRES):($PASSWORD_POSTGRES)@($HOST):($PORT_POSTGRES)/($DB_NAME_POSTGRES)"

##### Token session #######

SESSION_SECRET=your_secret_key
# openssl rand -base64 32

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=