NEXT_PUBLIC_BASE_URL=https://bde42angouleme.dev.fr

NEXT_PUBLIC_OAUTH_42_CLIENTID=u-s4t2ud-...
OAUTH_42_SECRET=s-s4t2ud-...

DATABASE_URL="postgres://($USER_POSTGRES):($PASSWORD_POSTGRES)@postgres:5432/postgres-dev"

SESSION_SECRET=your_secret_key
# openssl rand -base64 32