@use '../../../supports';

section.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 20px;
	gap: 30px;

	form {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 30px;
	}
}

.inputs {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}


input[type='submit'] {
	width: fit-content;
	height: 50px;
	padding: 10px 30px;
	background-color: var(--color-primary-purple);
	color: var(--color-primary-white);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	border: none;
	font: var(--font-paragraph);
	font-size: 16px;
	font-weight: 600;
	transition: var(--transition-fast);

	&:hover {
		transform: scale(1.02);
	}

	&:active {
		transform: scale(0.96);
	}
}

@media (max-width: supports.$breakpoints-desktop) {
	.content {
		form {
			flex: 1;

			.inputs {
				input[type='submit'] {
					margin-top: auto !important;
					width: 100% !important;
				}
			}
		}
	}
}
