.toggle {
	position: relative;
	appearance: none;
	width: 28px;
	height: 16px;
	background-color: rgba(var(--color-rgb-primary-white), 0.2);
	border-radius: 10px;
	transition: 0.2s cubic-bezier(0.1, 0, 0, 1.5);

	&::after {
		content: '';
		position: absolute;
		top: 3px;
		left: 3px;
		width: 10px;
		aspect-ratio: 1;
		background-color: var(--color-primary-white);
		border-radius: 10px;
		transition: 0.2s cubic-bezier(0.1, 0, 0, 1.5);
	}

	&:checked {
		background-color: rgba(var(--color-rgb-primary-purple), 1);

		&::after {
			transform: translateX(12px);
		}
	}

	&:disabled {
		opacity: 0.6;
	}
}
