@use '../../../app/supports';

.overlay {
	position: fixed;
	top: -100vh;
	left: -50vw;
	right: -50vw;
	bottom: -100vh;
	padding: 100vh calc(50vw + 20px);
	z-index: 1000000;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	display: flex;
	align-items: center;
	justify-content: center;
	transform-origin: bottom;
}

.card {
	width: 100%;
	max-width: 380px;
	background-color: var(--color-primary-purple);
	border-radius: 20px;
	border: 1px solid var(--color-border-light);
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& > img {
		border-radius: 50%;
		border: 1px solid var(--color-border-light);
	}

	& > h1 {
		font: 700 28px var(--font-paragraph);
		text-align: center;
		margin-top: 20px;
	}

	& > p {
		font: 500 14px var(--font-paragraph);
		text-align: center;
		opacity: 0.6;
	}

	& > svg {
		padding: 20px;
		background-color: #fff;
		border-radius: 20px;
		margin-top: 30px;
	}
}

@media (max-width: supports.$breakpoints-phone) {
	.overlay {
		padding: 100vh calc(50vw + 20px);
		align-items: flex-end;
	}
	.card {
		position: fixed;
		max-width: none;
		border-radius: 20px 20px 0 0;
		width: 100vw;
	}
}
