.card {
	position: relative;
	appearance: none;
	background-color: transparent;
	width: 100%;
	height: 170px;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 16px;
	transition: 0.2s;
	border: none;
	display: flex;
	align-items: flex-end;

	&::after {
		position: absolute;
		inset: 0;
		content: '';
		border-radius: 16px;
		border: 1px solid rgba(var(--color-rgb-primary-white), 0.1);
	}

	&:hover {
		background-size: 105%;
	}

	&:active {
		scale: 0.98;
	}

	& > .details {
		background: linear-gradient(
			rgba(var(--color-rgb-primary-black), 0),
			rgba(var(--color-rgb-primary-black), 0.8),
			rgba(var(--color-rgb-primary-black), 1)
		);
		border-radius: 0 0 16px 16px;
		display: flex;
		align-items: center;
		gap: 10px;
		color: var(--color-primary-white);
		text-align: left;
		padding: 10px;
		width: 100%;

		& > .text {
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: 2px;

			& > h3 {
				font: 600 17px var(--font-paragraph);
			}

			& > .tags {
				display: flex;
				gap: 5px;
				align-items: center;
				opacity: 0.6;
			}
		}

		& > svg {
			opacity: 0.4;
		}
	}
}

.calendar {
	position: absolute;
	left: 10px;
	bottom: 10px;
}

.h1 {
	font: 600 25px var(--font-paragraph);
	position: absolute;
	left: 80px;
	bottom: 30px;
	color: var(--color-primary-white);
}

.p {
	font: 400 13px var(--font-paragraph);
	position: absolute;
	left: 80px;
	bottom: 10px;
	opacity: 0.6;
	color: var(--color-primary-white);
	display: flex;
	align-items: center;
	gap: 2px;
}
