@use '../../../supports';

.page {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	.h1 {
		width: 100%;
		max-width: 362px;
		text-align: left;
		font: 700 16px var(--font-title);
		text-transform: uppercase;
		letter-spacing: 1px;
		color: var(--color-border-dark);
		padding: 10px;
	}
}
.first,
.button {
	appearance: none;
	border: 1px solid var(--color-border-dark);
	background-color: transparent;
	color: var(--color-primary-white);
	padding: 10px 10px;
	border-radius: 100px;
	font: 600 15px var(--font-paragraph);
	white-space: nowrap;
	flex-shrink: 0;
	&:active {
		scale: 0.92;
		transition: 0.3s;
	}
	&:hover {
		filter: brightness(0.8);
	}
}

.first {
	background-color: var(--color-primary-white);
	color: var(--color-primary-black);
	border: none;
}
.groupButton {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
	max-width: 362px;
}

.buttonSearch {
	appearance: none;
	border: 1px solid var(--color-border-dark);
	background-color: transparent;
	color: var(--color-primary-white);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	&:active {
		scale: 0.92;
	}
	&:hover {
		filter: brightness(0.8);
	}
}
.scrollArea {
	display: flex;
	align-items: center;
	gap: 8px;
	overflow-x: auto;
	flex: 1;
	min-width: 0;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
