@use '../../../../supports';

.section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 20px;
}

.list {
	width: 100%;
	max-width: 600px;
	border-radius: 15px;
	overflow: hidden;
	border: 1px solid var(--color-border-dark);
}

.penItem {
	display: flex;
	align-items: center;
	gap: 8px;
	font: 500 14px var(--font-paragraph);
	color: rgba(var(--color-rgb-primary-white), 0.6);
	margin-right: 5px;
}