@use '../../../../supports';

.section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 20px;

	form {
		width: 100%;
		max-width: 600px;
		display: flex;
		gap: 3px;

		& > input[type="email"] {
			appearance: none;
			flex: 1;
			background-color: rgba(var(--color-rgb-primary-white), 0.07);
			border: 1px solid rgba(var(--color-rgb-primary-white), 0.1);
			color: var(--color-primary-white);
			padding: 0 15px;
			border-radius: 10px 0 0 10px;
			outline: none;
			font: 550 14px var(--font-paragraph);
		}

		& > input[type="submit"] {
			appearance: none;
			height: 42px;
			padding: 0 20px;
			background-color: var(--color-primary-purple);
			border: 1px solid rgba(var(--color-rgb-primary-black), 0.4);
			color: var(--color-primary-white);
			border-radius: 0 10px 10px 0;
			font: 550 14px var(--font-paragraph);
			transition: .2s;

			&:disabled {
				opacity: 0.6;
				pointer-events: none;
			}

			&:active {
				scale: 0.95;
			}
		}
	}
}

.list {
	width: 100%;
	max-width: 600px;
	border-radius: 15px;
	overflow: hidden;
	border: 1px solid var(--color-border-dark);
}

.penItem {
	display: flex;
	align-items: center;
	gap: 8px;
	font: 500 14px var(--font-paragraph);
	color: rgba(var(--color-rgb-primary-white), 0.6);
	margin-right: 5px;
}

.listSectionTitle {
	max-width: 600px;
	width: 100%;
	font: 600 14px var(--font-paragraph);
	margin-bottom: -10px;
	margin-top: 5px;
	opacity: 0.6;
}

.listSectionDetails {
	max-width: 600px;
	width: 100%;
	font: 400 13px var(--font-paragraph);
	margin-bottom: 10px;
	margin-top: -10px;
	opacity: 0.6;
}

.profilePicture {
	border: 1px solid var(--color-border-dark);
	border-radius: 100%;
	object-fit: cover;
}

.excludeButton {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 15px;
	border-radius: 40px;
	gap: 5px;
	font: 550 13px var(--font-paragraph);
	background-color: rgba(var(--color-rgb-primary-white), 0.1);
	transition: .2s;

	&:active {
		scale: 0.95;
	}

	& > svg {
		color: var(--color-primary-white);
		opacity: 0.4;
	}
}

.error {
	color: #fe8484;
	font: 500 14px var(--font-paragraph);
	max-width: 600px;
	width: 100%;
	margin-top: -15px;
	margin-bottom: -12px;
	margin-left: 25px;
}