.button {
	appearance: none;
	border: none;
	background-color: rgba(var(--color-rgb-primary-white), 0.07);
	color: rgba(var(--color-rgb-primary-white), 0.5);
	font: 500 14px var(--font-paragraph);
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 5px 10px;
	height: 30px;
	border-radius: 10px;
	transition: 0.1s;

	& > svg {
		color: var(--color-primary-white);
		opacity: 0.5;
	}

	&:active {
		scale: 0.95;
	}

	&.primary {
		background-color: rgba(var(--color-rgb-primary-pink), 0.2);
		color: var(--color-primary-pink);
		& > svg {
			color: var(--color-primary-pink);
			opacity: 1;
		}
	}
}
