@font-face {
  font-family: 'Lugati v1';
  src: url('/fonts/Lugati.otf');
}

:root {
	--color-primary-green: #99FFBA;
	--color-primary-pink: #FD84FE;
	--color-primary-purple: #9F99FF;
	--color-primary-black:#000;
	--color-primary-white: #F2F2F2;

  	--font-title: 'Lugati v1';
	--font-paragraph: 'Montserrat';

  	--transition-fast: .1s ease-in-out;
}

::selection {
  background-color: #9F99FF;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--color-primary-black);
  	color: var(--color-primary-white);
  	font-family: var(--font-paragraph), sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-title), sans-serif;
}
