@font-face {
	font-family: 'Lugati v1';
	src: url('/fonts/Lugati.otf');
}

:root {
	--color-primary-green: #99ffba;
	--color-primary-pink: #fd84fe;
	--color-primary-purple: #9f99ff;
	--color-primary-black: #000;
	--color-primary-white: #f2f2f2;

	--color-rgb-primary-green: 153, 255, 186;
	--color-rgb-primary-pink: 253, 132, 254;
	--color-rgb-primary-purple: 159, 153, 255;
	--color-rgb-primary-black: 0, 0, 0;
	--color-rgb-primary-white: 242, 242, 242;

	--color-card: #222;

	--color-input-background-light: #f2f2f2fa;

	--color-border-light: #0000001a;
	--color-border-dark: #f2f2f23a;

	--font-title: 'Lugati v1';
	--font-paragraph: 'Montserrat';

	--transition-fast: 0.1s ease-in-out;
	--transition-medium: 0.3s cubic-bezier(0.2, 0, 0, 1);
}

::selection {
	background-color: #9f99ff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--color-primary-black);
	color: var(--color-primary-white);
	font-family: var(--font-paragraph), sans-serif;
	display: flex;
	flex-direction: column;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-title), sans-serif;
}

@keyframes mdxeditor-popup-container-tooltip-enter {
	from {
		scale: 0.8;
		translate: 0 10px;
		opacity: 0;
	}
	to {
		scale: 1;
		opacity: 1;
	}
}

.event_markdown {
	font: 400 15px var(--font-paragraph);
	color: rgba(var(--color-rgb-primary-white), 0.8);
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	gap: 10px;

	span {
		width: fit-content;
	}

	h1 {
		font: 700 28px var(--font-paragraph);
	}

	h2 {
		font: 700 22px var(--font-paragraph);
	}

	h3 {
		font: 700 18px var(--font-paragraph);
	}

	h4 {
		font: 700 16px var(--font-paragraph);
		color: rgba(var(--color-rgb-primary-white), 0.6);
	}

	h5 {
		font: 700 14px var(--font-paragraph);
		color: rgba(var(--color-rgb-primary-white), 0.4);
	}

	h6 {
		font: 700 12px var(--font-paragraph);
		color: rgba(var(--color-rgb-primary-white), 0.3);
	}

	strong {
		font-weight: 600;
	}

	blockquote {
		position: relative;
		padding: 10px 10px 10px 13px;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 3px;
			background-color: rgba(var(--color-rgb-primary-white), 0.3);
		}
	}

	hr {
		height: 2px;
		border-radius: 1px;
		background-color: rgba(var(--color-rgb-primary-white), 0.3);
		border: none;
	}

	li {
		margin-left: 20px;
	}

	a {
		transition: var(--transition-fast);
		position: relative;

		&::before {
			content: '';
			background-image: url('data:image/svg+xml;utf8,<svg width="5" height="3" xmlns="http://www.w3.org/2000/svg"> <circle cx="1.5" cy="1.5" r="1.25" fill="%23F2F2F2"/></svg>');
			position: absolute;
			bottom: -3px;
			opacity: 0.4;
			left: 0;
			right: 0;
			height: 3px;
			z-index: -1;
			transition: var(--transition-fast);
		}

		&:hover {
			color: rgba(var(--color-rgb-primary-white), 1);
		}

		&:hover::before {
			opacity: 1;
		}
	}

	div[data-editor-block-type='image'] {
		position: relative;
		width: fit-content;

		div:first-child {
			& > img {
				overflow: hidden;
				border-radius: 10px;
				border: 1px solid var(--color-border-dark);
			}
		}

		div:last-child {
			position: absolute;
			inset: 0;
			padding: 5px;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			gap: 5px;

			button {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				border: none;
				background-color: rgba(var(--color-rgb-primary-black), 0.7);
				color: rgba(var(--color-rgb-primary-white), 0.7);
				display: flex;
				align-items: center;
				justify-content: center;
				transition: var(--transition-fast);

				& > svg {
					width: 22px;
					height: 22px;
				}
			}
		}
	}
}
