@font-face {
	font-family: 'Lugati v1';
	src: url('/fonts/Lugati.otf');
}

:root {
	--color-primary-green: #99ffba;
	--color-primary-pink: #fd84fe;
	--color-primary-purple: #9f99ff;
	--color-primary-black: #000;
	--color-primary-white: #f2f2f2;

	--color-rgb-primary-green: 153, 255, 186;
	--color-rgb-primary-pink: 253, 132, 254;
	--color-rgb-primary-purple: 159, 153, 255;
	--color-rgb-primary-black: 0, 0, 0;
	--color-rgb-primary-white: 242, 242, 242;

	--color-card: #222;

	--color-input-background-light: #f2f2f2fa;

	--color-border-light: #0000001a;
	--color-border-dark: #f2f2f23a;

	--font-title: 'Lugati v1';
	--font-paragraph: 'Montserrat';

	--transition-fast: 0.1s ease-in-out;
	--transition-medium: 0.3s cubic-bezier(0.2, 0, 0, 1);
}

::selection {
	background-color: #9f99ff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--color-primary-black);
	color: var(--color-primary-white);
	font-family: var(--font-paragraph), sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-title), sans-serif;
}
