.main_container {
	padding: 10px;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.tittle {
	max-width: 600px;
	width: 100%;
	font: 600 25px var(--font-title);
	margin-bottom: -15px;
	margin-top: 10px;
	justify-content: center;
	text-align: center;
}

.addbutton {
	display: flex;
	flex-direction: row;
	padding: 15px;
	gap: 20px;
}
.input {
	appearance: none;
	background-color: var(--color-border-dark);
	border: none;
	border-radius: 25px;
	height: 50px;
	width: 150px;
	max-width: 150px;
	text-align: center;
	color: var(--color-primary-white);
	font: 600 18px var(--font-paragraph);

	&:focus {
		background-color: var(--color-border-light);
	}
}
.button {
	appearance: none;
	background-color: var(--color-primary-purple);
	color: var(--color-primary-white);
	border: none;
	padding: 0 20px;
	height: 50px;
	max-width: 348px;
	font: 600 15px var(--font-paragraph);
	border-radius: 25px;
	transition: 0.1s;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	& > div {
		margin: 0 !important;
	}

	&:active {
		scale: 0.95;
	}

	&:disabled {
		opacity: 0.6;
		pointer-events: none;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}
