@use '../../../../../../supports';

.page {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 20px;
	flex: 1;
}

.page_container {
	width: 100%;
	max-width: 600px;
	align-self: center;
	position: relative;
	display: flex;
	flex: 1;
}
