NEXT_PUBLIC_BASE_URL=https://bde42angouleme.fr

NEXT_PUBLIC_OAUTH_42_CLIENTID=u-s4t2ud-...
OAUTH_42_SECRET=s-s4t2ud-...

SESSION_SECRET=your_secret_key
# openssl rand -base64 32

POSTGRES_USER=example
POSTGRES_PASSWORD=example1234
POSTGRES_DB=bde

DATABASE_URL="postgres://($POSTGRES_USER):($POSTGRES_PASSWORD)@postgres:5432/($POSTGRES_DB)"