.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;

	& > header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > h1 {
			font: 600 18px var(--font-paragraph);
		}

		& > button {
			appearance: none;
			width: 40px;
			height: 40px;
			border-radius: 20px;
			background-color: rgba(var(--color-rgb-primary-white), 0.1);
			color: var(--color-primary-white);
			border: none;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.1s;

			& > svg {
				opacity: 0.5;
			}

			&.primary {
				background-color: var(--color-primary-purple);
				& > svg {
					opacity: 1;
				}
			}

			&:active {
				scale: 0.9;
			}

			&:disabled {
				opacity: 0.5;
				pointer-events: none;
			}
		}
	}
}
