@use '../../../app/supports';

.profilePicture {
	border: 1px solid var(--color-border-dark);
	border-radius: 100%;
	object-fit: cover;
	aspect-ratio: 1;
	flex: 1;
}

.next{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 15px;
	gap: 10px;
	border-radius: 10px;
	color: rgba(var(--color-rgb-primary-white), 0.6);
	background: rgba(var(--color-rgb-primary-white), 0.07);
	align-self: center;
	font: 500 12px var(--font-paragraph);
	border: 1px solid var(--color-border-dark);
	transition: var(--transition-fast);

	&:active {
		scale: 0.95;
	}
}