@use "../../../supports";

.main_container {
	display: flex;

	& > aside {
		width: 300px;
		height: 100vh;
		background-color: var(--color-primary-black);
		border-right: 1px solid var(--color-border-dark);
		position: fixed;
		top: 0;
		display: flex;
		flex-direction: column;
		gap: 5px;
		z-index: 10000;
		transition: .3s cubic-bezier(.5,0,0,1);

		header {
			padding: 15px;
			display: flex;

			& > button {
				anchor-name: --picker-button;
				appearance: none;
				border: 1px solid rgba(var(--color-rgb-primary-white), 0);
				background-color: #000;
				padding: 7px 0 7px 0;
				border-radius: 10px;
				flex: 1;
				display: flex;
				align-items: center;
				gap: 10px;
				color: var(--color-primary-white);
				position: relative;
				overflow: hidden;
				transition: .2s;

				& > div {
					position: absolute;
					background-color: #000;
					border-radius: 4px;
					opacity: .6;
				}

				& > img {
					border-radius: 4px;
				}

				& > p {
					flex: 1;
					text-align: left;
					font: 500 15px var(--font-paragraph);
					white-space: nowrap;
					opacity: .6;
					transition: .2s;
				}

				& > svg {
					position: absolute;
					right: 0;
					padding: 7px 7px 7px 14px;
					height: 100%;
					width: 37px;
					background: linear-gradient(90deg, #0000, #000C, #000);
					translate: 3px 0;
					transition: .2s;

					& > * {
						opacity: 0;
						transition: .2s;
					}

				}

				&:hover, &.opened {
					background-color: #111;
					padding: 7px;
					border: 1px solid rgba(var(--color-rgb-primary-white), 0.1);

					& > p {
						opacity: 1;
					}

					& > svg {
						background: linear-gradient(90deg, #1110, #111C, #111);
						translate: 0;
						& > * {
							opacity: 1;
						}
					}
				}

				&:active {
					scale: 0.98;
				}
			}
		}

		.picker_container {
			position: absolute;
			position-anchor: --picker-button;
			position-area: bottom center;
			margin-top: 5px;
			z-index: 100000;
			width: 100%;
			padding: 7px;
			background-color: #111;
			border: 1px solid rgba(var(--color-rgb-primary-white), 0.1);
			border-radius: 10px;
			gap: 5px;
			display: flex;
			flex-direction: column;

			& > button {
				appearance: none;
				background-color: #FFF0;
				border: 1px solid rgba(var(--color-rgb-primary-white), 0);
				padding: 4px;
				border-radius: 4px;
				flex: 1;
				display: flex;
				align-items: center;
				gap: 10px;
				color: var(--color-primary-white);
				position: relative;
				width: 100%;
				overflow: hidden;
				transition: .2s;

				& > img {
					border-radius: 2px;
				}

				& > p {
					width: 100%;
					text-align: left;
					font: 500 15px var(--font-paragraph);
					white-space: nowrap;
					text-overflow: ellipsis;
					opacity: .6;
				}

				&:hover {
					background-color: #FFF1;
				}

				&:active {
					scale: 0.98;
				}
			}
		}

		& > a {
			position: relative;
			margin: 0 10px;
			background-color: #000;
			display: flex;
			align-items: center;
			gap: 10px;
			padding: 10px 15px;
			color: rgba(var(--color-rgb-primary-white), 0.5);
			border-radius: 10px;
			font: 500 15px var(--font-paragraph);
			transition: .1s;
			overflow: hidden;

			&:hover {
				background-color: #111;
			}

			&:active {
				scale: 0.98;
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 0;
				background-color: var(--color-primary-purple);
				transition: .1s;
			}
		}

		& > a.active {
			background-color: #111;
			color: rgba(var(--color-rgb-primary-white), 0.8);

			&::before {
				width: 3px;
			}
		}
	}

	& > article {
		flex: 1;
		margin-left: 300px;
		transition: .3s cubic-bezier(.5,0,0,1);
	}

	.sidebar_button {
		position: fixed;
		top: 15px;
		left: 245px;
		width: 40px;
		height: 40px;
		z-index: 100000;
		transition: .25s cubic-bezier(.5,0,0,1);
		display: none;
		align-items: center;
		justify-content: center;
		background: #0009;
		border: 1px solid rgba(var(--color-rgb-primary-white), 0.1);
		backdrop-filter: blur(10px);
		border-radius: 10px;
		color: var(--color-primary-white);

		& > svg {
			transition: .3s;
			opacity: .5;
		}

		&:active {
			scale: 0.9;
		}
	}

	.sidebar_button.hidden {
		left: 15px;
	}
}

@media (max-width: supports.$breakpoints-tablets) {
	.main_container {
		.backdrop {
			position: fixed;
			inset: 0;
			background-color: #0005;
			backdrop-filter: blur(10px);
			z-index: 10000;
			transition: .3s;
		}

		.backdrop.hidden {
			opacity: 0;
			pointer-events: none;
		}

		& > aside {
			& > header {
				margin-right: 50px;
			}
		}

		& > aside.hidden {
			transform: translateX(-100%);


		}

		& > article {
			margin-left: 0;
		}

		.sidebar_button {
			display: flex;
			background: #0000;
			border: 1px solid rgba(var(--color-rgb-primary-white), 0);
		}

		.sidebar_button.hidden {
			background-color: #0009;
			border: 1px solid rgba(var(--color-rgb-primary-white), 0.2);

			& > svg {
				opacity: .7;
			}
		}
	}
}