@use '../../../app/supports';

.form_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 30px;

	.inputs {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 10px;
	}

	button[type='submit'] {
		width: fit-content;
		height: 50px;
		padding: 10px 30px;
		background-color: var(--color-primary-purple);
		color: var(--color-primary-white);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		border-radius: 25px;
		border: none;
		font: var(--font-paragraph);
		font-size: 16px;
		font-weight: 600;
		transition: var(--transition-fast);

		& > div {
			margin-left: -10px !important;
		}

		&:hover {
			transform: scale(1.02);
		}

		&:active {
			transform: scale(0.96);
		}

		&:disabled {
			opacity: 0.7;
			pointer-events: none;
		}
	}

	.error {
		color: #fe8484;
		font: 500 14px var(--font-paragraph);
		margin: -15px 10px 0 10px;
	}
}

@media (max-width: supports.$breakpoints-desktop) {
	.form_container {
		flex: 1;

		.inputs {
			input[type='submit'] {
				margin-top: auto !important;
				width: 100% !important;
			}
		}
	}
}
